  
<% if @feed_items.any? %>
  <ol class="microposts">
    <%= render @feed_items %>
  </ol>
  <div class="paginate-bar">
    <%= will_paginate @feed_items,
              params: {controller: :homes, action: :index} %>
  </div>            
<% end %>