@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
// @import "@fortawesome/fontawesome-free/scss/fontawesome";


/*universal*/ 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// html{
//   height: 100%;
// }

body{
  background-color: #F1C475;
  font-family: a-otf-ud-shin-maru-go-pr6n, sans-serif;
  color: white;
  height: 100%;
  // position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

header{
  height: 80px ;
  background-color: #EC985B;
  border: 1px solid white;
  width: 100%;
  position: fixed;
  z-index: 10;
  list-style: none;
  .main-logo{
    height: 120px;
    float: left;
    margin-left: -13px;
    margin-top: -23px;
    }
  .dropdown{
    float: right;
    .bars{
      color: white;
      font-size: 61px;
      margin-right: 20px;
      margin-top: 8px;
    }
    ::marker{
      display: none;
    }
    .dropdown-menu{
      height: 280px;
      width: 100%;
      li{
        font-size: 25px;
        margin-top: 10px;
        .color{
          color: black;
          display: inline;
          margin-left: 27px;
          margin-right: 3px;
        }
        a{
          display: inline;
          padding: 0;
        }
      }
      .icon{
        text-align: center;
        .user-image{
          width: 50px;
          height: 50px;
          object-fit: cover;
          border: 2px solid black;
          border-radius: 1000px;
          text-align: center;
          margin-top: 10px;
        }
      }
      .logout{
        font-size: 20px;
        margin-left: 30px;
        border-radius: 100px;
        margin-top: 19px;
      }
    }
  }
  .login{
    float: right;
    margin-right: 15px;
    font-size: 25px;
    border-radius: 100px;
    margin-top: 17px;
  }
  .logout-pc{
    display: none;
  }
  .menu-pc{
    display: none;
  }
  }
  
.language-wrapper{
  height: 100%;
  .container{
    padding: 36% 0;
    .choose-language{
      margin-bottom: 60px;
      h1{
        color: #FFFFFF;
        font-size: 25px;
        text-align: center;
      }
    }
   .buttons{
     width: 80%;
     margin: 0 auto;
     .btn{
       font-size: 30px;
       height: 65px;
       width: 100%;
       margin-bottom: 30px;
       border-radius: 69px;
     }
   }
  }
}

.english-home-wrapper{
  // .container{
    padding-top: 75px;
    .introduction{
      padding-top: 90px;
      padding-bottom: 100px;
      background-image: image-url('home-bg.png') ;
      background-size: cover;
      background-position: center;
      height: 640px;
      .main-intro{
        h1{
          text-align: center;
          font-size: 20px;
          line-height: 12px;
        }
        h2{
          display: none;
        }
      }
      .connect{
          padding: 50px 0 0 13%;
          
          p{
            font-size: 20px;
            font-family: "A-OTF Gothic BBB Pr6N", forma-djr-display, sans-serif;
            font-weight: 300;
            font-style: normal;
            
            letter-spacing: 2px;
          }
        }
      .connect-jp{
          p{
            letter-spacing: 0px;
          }
        }
        .free{
          padding: 50px 0 0 13%;
          font-family: forma-djr-display, sans-serif;
          font-weight: 400;
          font-style: normal;
          letter-spacing: 1.5px;
          font-size: 18px;
          .yellow{
            color: #067EFF;
            font-family: nimbus-sans-condensed, sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 21px;
          }
        }
        .buttons{
           width: 80%;
           margin: 0 auto;
           padding-top: 0px;
             .btn{
               font-size: 20px;
               height: 50px;
               width: 100%;
               margin-bottom: 10px;
               border-radius: 69px;
            }
   }
    }
    .what-is-inte{
      .title{
        text-align: center;
        padding: 37px 0 10px 0;
        font-size: 37px;
      }
      .image{
        margin: 0 auto;
        text-align: center;
        .video-call{
          width: 70%;
          margin: 0 auto;
          max-width: 300px;
        }
      }
      .description{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
        p{
          line-height: 19px;
          margin-bottom: 0;
          font-size: 15px;
          font-weight: 400;
          font-family: source-sans-pro, sans-serif;
        }
      }
      .buttons{
           width: 80%;
           margin: 0 auto;
           padding-top: 10px;
             .btn{
               font-size: 20px;
               height: 50px;
               width: 100%;
               margin-bottom: 30px;
               border-radius: 69px;
            }
   }
    }
  // }
}

.japanese-home-wrapper{
  // .container{
    padding-top: 75px;
    font-family: a-otf-gothic-bbb-pr6n;
    letter-spacing: 0px;
    .introduction{
      padding-top: 90px;
      padding-bottom: 100px;
      background-image: image-url('home-bg.png') ;
      background-size: cover;
      background-position: center;
      height: 640px;
      .main-intro{
        h1{
          text-align: center;
          font-size: 20px;
          line-height: 12px;
        }
        h2{
          display: none;
        }
      }
      .connect{
          padding: 50px 0 0 13%;
          
          p{
            font-size: 20px;
            font-family: "A-OTF Gothic BBB Pr6N", forma-djr-display, sans-serif;
            font-weight: 300;
            font-style: normal;
            
            letter-spacing: 0px;
          }
        }
      .connect-jp{
          p{
            letter-spacing: 0px;
          }
        }
        .free{
          padding: 50px 0 0 13%;
          font-family: forma-djr-display, sans-serif;
          font-weight: 400;
          font-style: normal;
          letter-spacing: 1.5px;
          font-size: 18px;
          .yellow{
            color: #067EFF;
            font-family: nimbus-sans-condensed, sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 21px;
          }
        }
        .buttons{
           width: 80%;
           margin: 0 auto;
           padding-top: 0px;
             .btn{
               font-size: 20px;
               height: 50px;
               width: 100%;
               margin-bottom: 10px;
               border-radius: 69px;
            }
   }
    }
    .what-is-inte{
      .title{
        text-align: center;
        padding: 37px 0 10px 0;
        font-size: 37px;
      }
      .image{
        margin: 0 auto;
        text-align: center;
        .video-call{
          width: 70%;
          margin: 0 auto;
          max-width: 300px;
        }
      }
      .description{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
        p{
          line-height: 19px;
          margin-bottom: 0;
          font-size: 15px;
          font-weight: 400;
          font-family: source-sans-pro, sans-serif;
        }
      }
      .buttons{
           width: 80%;
           margin: 0 auto;
           padding-top: 10px;
             .btn{
               font-size: 20px;
               height: 50px;
               width: 100%;
               margin-bottom: 30px;
               border-radius: 69px;
            }
   }
    }
  // }
}

.signup-wrapper{
  overflow: hidden;
  .Signup{
  font-size: 40px;
  text-align: center;
  margin: 100px 0 40px 0;
  }
  .signup-forms{
    width: 80%;
    margin: 0 auto;
    font-family: a-otf-ud-shin-maru-go-pr6n, sans-serif;
    label{
      display: block;
      text-align: center;
      font-size: 25px;
      margin-bottom: 10px;
    }
    input{
      height: 25px;
      margin-bottom: 20px;
    }
    .image-form{
      height: 40px;
    }
    .create{
      font-size: 21px;
      height: 50px;
      border-radius: 100px;
      margin-top: 50px;
    }
    .buttons{
           width: 80%;
           margin: 0 auto;
           padding-top: 70px;
             .btn{
               font-size: 25px;
               height: 50px;
               width: 100%;
               margin-bottom: 30px;
               border-radius: 69px;
            }
   }
  }
}

.after-wrapper{
  margin-top: 100px;
}

.user-detail-wrapper{
  overflow: hidden;
  .introduction{
    padding-top: 70px;
    width: 80%;
    margin: 0 auto;
    h3{
      font-size: 14px;
      text-align: center;
      margin-bottom: 20px;
    }
  }
  .user-detail-forms{
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
    label{
      font-size: 20px;
      display: block;
      text-align: center;
    }
    select, input{
      height: 20px;
    }
    select{
      width: 70%;
      display: block;
      margin: 0 auto;
      margin-bottom: 25px;
      color: black;
    }
    .self-intro{
      height: 100px;
      margin-bottom: 20px;
    }
    input::placeholder{
      font-size: 8px;
    }
    .btn{
               font-size: 25px;
               height: 50px;
               width: 100%;
               margin-bottom: 30px;
               border-radius: 69px;
               margin-top: 60px;
            }
  }
}

.user-home-wrapper{
  padding-top: 100px;
  .micropost-form{
    width: 90%;
    margin: 0 auto;
    color: black;
    .text-form{
      height: 150px;
      background-color: #EFCC8E;
    }
  }
  .image{
    .image-form{
    }
  }
  .button{
    text-align: center;
    .submit{
      width: 50%;
      border-radius: 1000px;
    }
  }
  .micropost-feed{
    width: 90%;
    margin: 0 auto;
    h3{
      text-align: center;
    }
    .microposts{
      .micropost-wrapper{
        .right-part{
          .content{
            img{
              display: block;
              border-radius: 0px;
            }
          }
        }
        .left-part{
          img{
            border-radius: 1000px;
          }
        }
      }
    }
    .paginate-bar{
      margin: 0 auto;
      text-align: center;
    }
  }
  
  
}

.micropost-detail-wrapper{
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
  .content{
    padding: 0px 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border: 1px solid white;
    img{
      width: 40px;
      height: 40px;
      border-radius: 1000px;
      object-fit: cover;
      display: inline;
      float: left;
      margin-top: 16px;
      margin-right: 5px;
    }
    h2{
      a{
        text-decoration: none;
        color: white;
        font-weight: bold;
      }
    }
    .button_to{
      text-align: center;
      .like{
        width: 50%;
        border-radius: 1000px;
      }
      .unlike{
        width: 50%;
        background-color: beige;
        color: black;
        border-radius: 1000px;
      }
    }
  }
  li{
    list-style: none;
    margin-bottom: 100px;
    img{
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 1000px;
    }
    a{
      text-decoration: none;
      color: white;
    }
  }
  .to-home-button{
    text-align: center;
    font-size: 20px;
    i{
      margin-right: 5px;
    }
    a{
      color: white;
    }
  }
  
}

.activate-wrapper{
  padding-top: 60px;
}

.user-wrapper{
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  .user-image{
    object-fit: cover;
    height: 50px;
    width: 50px;
    overflow: hidden;
    margin-top: 20px;
    float: left; 
    margin-right: 10px;
    border-radius: 1000px;
  }
  .user-image{
    // border-radius: 1000px;
  }
  .basic-info{
    margin: 0 auto;
    width: 100%;
    .user-name{
      font-size: 25px;
      .stats{
        font-size: 15px;
        .stats-wrapper{
          margin-top: 10px;
        }
      }
    }
    .setting{
      display: inline;
    }
    .direct-message{
      float: left;
      margin-left: 30px;
      button{
        background: none;
        font-size: 40px;
        margin-right: 20px;
        border-style: none;
        text-decoration: none;
        color: white;
        .fa-envelope{
          color: white;
          margin-top: 20px;
          margin-left: 25px;
        }
        &:hover{
          opacity: 0.5;
        }
      }

    }
    .stats{
      margin-top: 31px;
      margin: 0 auto;
      display: inline;
    }
    .user-details{
      width: 100%;
      box-sizing: border-box;
      margin-top: 20px;
      .content{
        font-size: 18px;
        font-family: franklin-gothic-urw;
        font-weight: 300;
      }
      .self-introduction{
        width: 100% ;
        text-align: center;
      }
    }
  }
  .user-microposts{
    li{
      list-style: none;
    }
    width: 90%;
    margin: 0 auto;
    .microposts-square{
      .microposts{
        
        .micropost-part{
          .right-part{
            .delete-button{
              text-decoration: underline;
              color: blue;
            }
          }
          .left-part{
            .micropost-user-image{
              img{
                border-radius: 1000px;
              }
            }
          }
        }
      }
      .pagination-bar{
        text-align: center;
      }
    }
  }
}

.login-wrapper{
  margin-top: 20%;
  .title{
    font-size: 50px;
    text-align: center;
    padding: 40px 0 30px 0;
  }
  .forms{
    width: 80%;
    margin: 0 auto;
    label{
      font-size: 25px;
      display: block;
      text-align: center;
    }
    input{
      height: 25px;
      font-size: 25px;
    }
    input:invalid{
      border: solid 1px red;
    }
    .login{
      height: 50px;
      margin: 30px 0 30px 0;
      border-radius: 100px;
    }
    p{
      font-size: 20px;
      text-align: center;
      a{
        text-decoration: underline;
      }
    }
  }
}

.following-follower-page{
  padding-top: 80px;
  .user_info{
    display: flex;
    .left-part{
      img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 1000px;
        margin-left: 20px;
        margin-right: 10px;
      }
    }
    .right-part{
      margin-top: 20px;
      a{
        font-size: 20px;
        color: white;
        &:hover{
          text-decoration: underline;
        }
      }
      .stats{
        a{
          font-size: 15px;
        }
      }
    }
  }
  .followings-followers{
    h2{
      text-align: center;
    }
    .user-infos{
      width: 240px;
      margin: 0 auto;
      padding: 5px 10px;
      border: 1px solid white;
      display: flex;
      .user-image{
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 1000px;
      }
      a{
        margin-top: 20px;
        margin-left: 10px;
      }
    }
    }
    .pagination{
      text-align: center;
    }
}

.dm-wrapper{
  margin-top: 80px;
  .title{
    text-align: center;
  }
  .members{
    text-align: center;
    h5{
      strong{
        a{
          text-decoration: none;
          color: white;
          &:hover{
            border-bottom: 1px solid ;
          }
        }
      }
    }
  }
  .new-message-form{
    color: black;
    .send-button{
      width: 50%;
      margin: 0 auto;
      margin-bottom: 20px;
      .send-message{
        border-radius: 1000px;
        &:hover{
          opacity: 0.7;
        }
      }
    }
    .new_message{
      text-align: center;
      #message_content{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 40px;
      }
    }
  }
  .messages{
    .message{
      min-height: 70px;
      border: 1px solid;
      padding-top: 10px;
      .icon{
        img{
          width: 50px;
          height: 50px;
          object-fit: cover;
          border-radius: 1000px;
          margin-left: 20px;
          margin-right: 10px;
          float: left;
        }
      }
      strong{
        display: block;
      }
      
    }
    
  }
  .back-to-dm{
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
  }
}

.dm-index-wrapper{
  padding: 0px 10px;
  margin-top: 70px;
  .users-heading{
    text-align: center;
  }
  .users-index-item{
    border: 0.5px solid;
    .user-right{
      padding: 10px 10px;
      .companion-name{
        font-size: 25px;
        margin-bottom: 0px;
        color: white;
      }
    }
  }
}

.user-search-wrapper{
  padding-top: 60px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  h1{
    margin-bottom: 20px;
  }
  select, input{
    color: black;
  }
  .submit{
    width: 50%;
    color: white;
    border-radius: 10000px;
    margin-top: 20px;
  }
  .results{
    margin-top: 50px;
    th{
      font-size: 25px;
      margin-bottom: 10px;
    }
    img{
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 1000px;
    }
    .user-left{
      float: left;
      margin: 10px 10px 0 0 ;
    }
    .user-right{
      float: left;
      text-align: left;
      a{
        color: white;
        font-size: 25px;
        margin-bottom: 5px;
      }
      p{
        margin-bottom: 3px;
      }
    }
  }
}

.edit-wrapper{
  margin-top: 70px;
  h1{
    text-align: center;
    margin-bottom: 30px;
  }
  input, select, textarea{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  select{
    display: block;
    color: black;
  }
  label{
    display: block;
    text-align: center;
  }
  .btn{
    display: block;
    margin: 0 auto;
    width: 60%;
    border-radius: 100px;
  }
  .update{
    margin-top: 50px;
  }
  .change-email{
    background-color: white;
    margin-top: 50px;
    width: 40%;
  }
  .change-password{
    background-color: #9B9E98;
    margin-top: 20px;
    margin-bottom: 40px;
    color: white;
    width: 40%;
  }
  .delete-user{
    margin-top: 60px;
    width: 40%;
    background-color: red;
    color: yellow;
    font-weight: 500;
    border-radius: 0px;
  }
}

.edit-email-wrapper{
  padding: 80px 0;
  text-align: center;
  width: 100%; 
  overflow: hidden;
  p{
    margin-top:  20px;
    font-size: 20px;
  }
  label{
    font-size: 20px;
    margin-top: 20px;
  }
  .new-email-form{
    width: 80%;
    margin: 0 auto;
    height: 20px;
    margin-bottom: 30px;
  }
  .create{
    width: 50%;
    margin: 0 auto;
    border-radius: 100px;
  }
  .buttons{
     .change-email{
       background-color: red;
     }
     .change-email{
       background-color: yellow;
     }
  }
  .description{
    font-size: 15px;
    width: 80%;
    margin: 0 auto;  
    margin-top: 10px;
  }
}

.password-reset-wrapper{
  margin-top: 60px;
  h1{
    text-align: center;
  }
  .forms{
    .form{
      text-align: center;
      margin-top: 30px;
    }
  }
}

.delete-wrapper{
  margin-top: 190px;
  text-align: center;
  h1{
    color: red;
  }
  p{
    color: black;
    span{
      font-size: 20px;
      color: red;
    }
  }
  .buttons{
    .btn{
      display: block;
      width: 42%;
      border-radius: 100px;
      font-size: 30px;
      line-height: 25px;
      height: 40px;
      margin: 0 auto;
      margin-top: 30px;
    }
    .no{
      background-color: #6EEB4C;
      color: white;
    }
    .delete{
      background-color: red;
      color: yellow;
    }
  }
}


footer{
  height: 44px;
  background-color: #DFF1DF;
  border: 1px solid white;
  // position: absolute;
  // bottom: 0px;
  margin-top: auto;
  width:  100%;
  .container{
    .copyrights{
      margin-top: 10px;
      p{
        color: black;
        font-size: 10px;
        text-align: center;
        margin: 0;
        line-height: 13px;
      }
    }
  }
  
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
    font-size: 13px;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
  margin-top: 10px;
}

input {
  // height: auto !important;
}

#error_explanation{
  color: red;
  font-size: 20px;
  ul{
    color: red;
    margin: 0 0 30px 0;
    li{
      margin-top: 80px
    }
  }
}

.field_with_errors{
  @extend .has-error;
  .form-control{
    color: $state-danger-text;
  }
}

/* flash */
.flash{
  font-size: 30px;
}

// alert 
.alert{
  margin-top: 80px;
  margin-bottom: -75px;
  font-size: 20px;
}

// microposts
.micropost-wrapper{
 .micropost-part{
   display: flex;
   border: solid 1px white;
   padding: 10px;
  .left-part{
    // float: left;
    margin-right: 15px;
    .micropost-user-image{
      img{
        height: 50px;
        width: 50px;
        object-fit: cover;
        overflow: hidden;
        border-radius: 1000px;
      }
    }
  }
  a{
    color: white;
  }
  .right-part{
    .user{
      font-size: 20px;
      display: block;
      font-family: "franklin-gothic-urw";
      font-weight: 700;
    }
    .content{
      img{
        max-width: 190px;
        margin-top: 10px;
      }
      font-family: source-sans-pro, sans-serif;
    }
    .timestamp{
      display: block;
      font-size: 12px;
      margin-top: 10px;
      color: #90909E;
    }
    .delete-button{
      text-decoration: underline;
      color: blue;
    }
  }
 } 
}

//stats
.stats-wrapper{
  .stats{
    a{
      color: white;
    }
  }
}

//follow_form
.follow-form-wrapper{
  #follow-form{
    input{
      display: inline;
      border-radius: 1000px;
      width: 50%;
      margin-top: 23px;
      &:hover{
        opacity: 0.9;
      }
    }
    .btn-dark{
      background-color: #817F85;
    }
  }
}

// レスポンシブ
@media screen and (min-width: 1024px) {
//この中のcssプロパティは画面サイズが1024px以上の時のみ適応します
//以下一部だけ抜粋
  header{
    height: 80px;
    .main-logo{
      height: 100px;
      margin-top: -10px; 
      margin-left: 20px;
    }
    .dropdown{
      display: none;
    }
    .menu-pc{
      display: block;
      .logout-pc{
        display: inline;
        float: right;
        font-size: 20px;
        margin-right: 20px;
        margin-top: 17px;
        border-radius: 100px;
      }
      .color{
        float: right;
        font-size: 25px;
        color: white;
        margin-top: 24px;
        margin-right: 21px;
      }
      a{
        color: white;
        font-family: a-otf-ud-shin-maru-go-pr6n;
        font-weight: 700;
        letter-spacing: 1px;
        margin-left: 3px;
      }
      .user-image{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 1000px;
        float: right;
        margin-right: 21px;
        margin-top: 13px;
      }
    }
  }
  
  .language-wrapper{
    .container{
      padding: 19% 0;
      .choose-language{
        h1{
          font-size: 40px;
        }
      }
      .buttons{
        display: flex;
        margin: 0 auto;
        .btn{
          width: 50;
          flex: auto;
        }
        .eng{
          margin-right: 100px;
        }
      }
    }
  }
  
  .english-home-wrapper{
    .introduction{
      height: 665px;
      .main-intro{
        h1{
          text-align: left;
          display: none;
        }
        .main-intro-pc{
          width: 100%;
          text-align: center;
          h2{
            display: inline;
        }
        }
      }
      .connect{
          padding-left: 13%;
          p{
            font-size: 25px;
          }
        }
        .buttons{
          margin-top: 40px;
          width: 40%;
          .btn{
            margin-bottom: 20px;
          }
        }
    }
    .what-is-inte{
      .title{
        font-size: 50px;
      }
      .description{
        p{
          font-size: 25px;
        }
      }
      .buttons{
        width: 40%;
      }
    }
   }

   .japanese-home-wrapper{
    .introduction{
      height: 665px;
      .main-intro{
        h1{
          text-align: left;
          display: none;
        }
        .main-intro-pc{
          width: 100%;
          text-align: center;
          h2{
            display: inline;
        }
        }
      }
      .connect{
          padding-left: 13%;
          p{
            font-size: 25px;
          }
        }
        .buttons{
          margin-top: 40px;
          width: 40%;
          .btn{
            margin-bottom: 20px;
          }
        }
    }
    .what-is-inte{
      .title{
        font-size: 50px;
      }
      .description{
        p{
          font-size: 25px;
        }
      }
      .buttons{
        width: 40%;
      }
    }
   }
   
   .edit-wrapper{
     .buttons{
       display: flex;
       margin-top: 40px;
       .change-email, .change-password{
         margin-top: 0px;
       }
       .change-email{
         height: 35px;
       }
     }
   }
   
   .edit-wrapper{
     .buttons{
       display: flex;
       margin-top: 40px;
       .change-email, .change-password{
         margin-top: 0px;
       }
       .change-email{
         height: 35px;
       }
     }
   }

   .user-wrapper{
     width: 70%;
     margin: 0 auto;
     .icon{
       .user-image{
         width: 100px;
         height: 100px;
       }
     }
     .basic-info{
       .user-name{
         font-size: 40px;
       }
       .stats{
         .stats-wrapper{
           .stats{
             font-size: 25px;
           }
         }
       }
       .user-details{
         margin-top: 40px;
        .content{
          font-size: 20px;
        }
        .self-introduction{
          margin-top: 50px;
        }
       }
     }
     .user-microposts{
       .liked-by{
         margin-top: 50px;
       }
     }
   }

   .user-home-wrapper{
     .micropost-feed{
       h3{
         font-size: 40px;
       }
       .microposts{
         width: 70%;
         margin: 0 auto;
       }
     }
     .micropost-form{
       width: 70%;
       margin: 0 auto;
     }
   }

   .micropost-wrapper{
     .micropost-part{
       .left-part{
         .micropost-user-image{
           img{
             width: 50px;
             height: 50px;
           }
         }
       }
       .right-part{
        .user{
          a{
            font-size: 25px;
          }
        }
        .content{
          font-size: 20px;
          img{
            max-width: 600px;
          }
        }
       }
     }
   }

   .dm-wrapper{
     .members{
       h4{
         font-size: 30px;
       }
       h5{
         font-size: 20px;
       }
     }
     .messages{
       .message{
         width: 70%;
         margin: 0 auto;
         padding-bottom: 10px;
         a{
           font-size: 25px;
         }
         strong{
           font-size: 20px;
         }
       }
     }
     .back-to-dm{
       a{
         font-size: 25px;
       }
     }
   }

   .dm-index-wrapper{
     width: 70%;
     margin: 0 auto;
     margin-top: 60px;
   }
  // なんか適用されない！
  // .login-wrapper{
  //     margin-top: 10%;
  //     margin-right: 40%;
  // }
  .edit-email-wrapper{
    label{
      font-size: 25px;
    }
    p{
      font-size: 25px;
    }
  }
}