<footer>
  <div class="container">
    <div class="copyrights">
      <p class="copyright copyright1">©︎ 2021 Takuma Sato</p>
      <p class="copyright copyright2">Unauthorized reproduction prohibited.</p>
    </div>
  </div>
</footer>